.block-1{
    background-color: blueviolet;
    height: 300px;
}

.block-2{
    background-color: chartreuse;
    height: 80px;
}

.block-3{
    background-color: red;
    height: 180px;
}

.block-4{
    background-color: royalblue;
    height: 120px;
}