img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

header{
    height: 10%;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	background-color: #A9E2F377;
	border: 3px solid #58D3F7;
    text-align: center;
    position: fixed;
	top: 0;
	left: 0;
}

header:hover{
    background-color: #ffe4b577;
}

header > h1{
	color: #2E64FE;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: italic;
	font-size: 30px;
}

.logo-left{
    height: 80%;
    max-width: 25%;
	position: absolute;
	left: 1%;
	top: 10%;
}

.logo-right{
    height: 80%;
    max-width: 25%;
    position: absolute;
    right: 1%;
    top: 10%;
}

footer{
	max-height: 15%;
	margin-left: 0;
	margin-right: 0;
	background-color: rgba(169, 226, 243, 0.5);
	border: 3px solid #58D3F7;
	border-radius: 15px 15px 0 0;
	text-align: center;
}

footer:hover{
    background-color: rgba(169, 226, 243, 1.0);
}

.copyright-string{
    color: blue;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 20px;
}

.column-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 12vh;
    margin-bottom: 50px;
    border-left: 3px solid red;
	border-right: 3px solid red;
    background-color: cornsilk;
}

.column-left{
    flex-basis: 50%;
    padding-left: 15%;
    padding-right: 2%;
	text-align: left;
}

.column-right{
    flex-basis: 50%;
    padding-left: 2%;
    padding-right: 15%;
	text-align: left;
}
