.markup-table{
	width: 100%;
	border-spacing: 20px 10px;
}

.block-1{
    background-color: blueviolet;
    height: 300px;
	vertical-align: top;
}

.block-2{
    background-color: chartreuse;
    height: 80px;
	width: 48%;
	vertical-align: top;
}

.block-3{
    background-color: red;
    height: 180px;
	width: 32%;
	vertical-align: top;
}

.block-4{
    background-color: royalblue;
    height: 120px;
	width: 24%;
	vertical-align: top;
}
