.main-container{
	width: 400px;
	min-height: 400px;
	background-color: white;
	border: 5px solid black;
	position: relative;
	margin: 0 auto;
}

.square-red{
	background-color: red;
	width: 240px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 0;
}

.square-blue{
	background-color: blue;
	width: 240px;
	height: 240px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.square-green{
	background-color: green;
	width: 240px;
	height: 240px;
	position: absolute;
	left: 80px;
	top: 80px;
}
