h1, h2, h3 {
    text-align: center;
}

p.ordinary {
    font-family: Times New Roman, Times, serif;
    color: black;
    font-size: 20px;
    font-weight: normal;
}

p.img-caption {
    font-size: 20px;
    text-decoration: wavy;
}

.highlight {
    background-color: yellowgreen;
}

.copyright-string {
    color: blue;
}

img {
    width: 450px;
}

.image-container {
    text-align: center;
    border: 2px solid green;
}

ul.ul-section {
    list-style-type: "\00A7\00A0\00A0";
	/*Возможно, в целях большей совместимости со всеми браузерами
	 * лучше было бы что-то вроде того:
	list-style-type: none;*/
}

/*ul.ul-section > li:before {
	content: "\00A7\00A0\00A0";
}
*/

ul.ul-circle {
    list-style-type: circle;
}

ul.ul-disc {
    list-style-type: "\2022\00A0\00A0";
}
