/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*Our style*/

.wrapper{
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	font-family: 'Proxima Nova Regular';
}

.center{
	max-width: 1550px;
	margin: 0 auto;
	width: 90%;
}

header{
	background-image: url('./images/football.png');
	height: 100vh; /*vh - height*/
	width: 100%;
	background-size: cover;
	max-height: 960px;
}


header .logo{
	margin-top: 55px;
}

header .decoration{
	position: absolute;
	width: 218px;
	height: 318px;
	top: 19vh;
	left: 35%;
	z-index: 1;
}

header .text_right{
	font-size: 14px;
	font-family: 'Proxima Nova Light';
	color: #ffffff;
	text-transform: uppercase;
	text-align: right;
	margin-top: -25px;
}

header h1{
	font-size: 90px;
	font-family: 'Proxima Nova Bold';
	color: #ffffff;
	margin-top: 25vh;
	z-index: 3;
}

header h1 span{
	display: block;
	text-align: right;
	position: relative;
	z-index: 2; 
}

header .menu li{
	display: inline-block;
}

header .menu li a{
	text-decoration: none;
	color: #8367d5;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Proxima Nova Light';
	padding: 0 25px;
}

header .menu li a:hover{ /*effects*/
	color: #ffffff;
}

header .menu{
	float: right;
}

.buttons a{
	display: inline-block;
	text-align: left;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Proxima Nova Light';
	width: 200px;
	background-color: #5e42b0;
	padding: 6px 65px 20px 43px;
	border-radius: 37px;
}

.buttons{
	clear: both;
	margin-top: 20vh;
	text-align: center;
}

.buttons i{
	font-size: 37px;
	margin-right: 30px;
	position: relative;
	top: 14px;
}

.buttons span{
	font-family: 'Proxima Nova Semibold';
	margin-left: 60px;
}

.buttons a:first-child{ /*a:nth-child(1)*/
	margin-right: 50px;
}

.buttons a:hover{
	color: #5e42b0;
	background-color: #ffffff;
}


footer{
	display: flex;
	flex-direction: column;
	background-image: url('./images/footer.png');
	height: 100vh; /*vh - height*/
	width: 100%;
	background-size: cover;
	max-height: 960px;
}

footer .center{
	max-width: 950px;
	margin: 0 auto;
	width: 55%;
	flex: 1 0 auto;
}

footer .download-button-block{
	display: flex;
	width: 100%;
	padding-top: 200px;

}

footer .download-button-block p{
	color: #ffffff;
	font-family: 'Proxima Nova Bold';
	font-size: 90px;
	text-transform: uppercase;
}

footer .download-button-block p span{
	display: block;
	font-size: 36px;
	color: #A496CA;
}

footer .download-button-block a{
	margin-right: 25px;
	width: 130px;
	height: 137px;
}

.footer-info{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	background-color: #0A0E34;
	opacity: 0.6;
	height: 170px;
	flex-grow: 0;
	color: #ffffff;
}

footer .text_right{
	align-self: center;
}

.footer-info .text_right a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Proxima Nova Regular';
	color: #ffffff;
}

.footer-info .social{
	align-self: center;
}

.footer-info .social a{
	font-size: 26px;
	text-decoration: none;
	color: #ffffff;
	margin: 0 10px;
}

.footer-info .logo{
	align-self: center;
}

.footer-info .text_right a:first-child::after{
	content: " |";
}





.container2 img{
	float: left;
	margin-left: 9%;
	margin-top: 20px;
}

.container2 h2, .container3 h2{
	font-size: 90px;
	font-family: 'Proxima Nova Bold';
	color: #e7e7e7;
	text-transform: uppercase;
	padding-top: 100px;
	padding-bottom: 80px;
}

.container2 .text_center, .container3 .text_center{
	font-family: 'Proxima Nova Bold';
	font-size: 36px;
	color: #c1c1c1;
	text-transform: uppercase;
	padding-bottom: 25px;
}

.container2 .text_center span, .container3 .text_center span{
	font-size: 18px;
	color: #000000;
	border-bottom: 5px solid #5e42b0;
	position: relative;
	top: -10px;
}

.container2 .block3 .text_center span, .container3 .block3 .text_center span{
	border-bottom: 5px solid #efefef;
}

.container2 .text_bottom, .container3 .text_bottom{
	font-size: 20px;
	color: #000000;
	padding-bottom: 60px;
}

.container2 .block2, .container3 .block2{
	background-color: #f6f4fa;
}

.container2 .block3{
	background-color: #5e42b0;
}

.container2 .block2 .text_center, .container2 .block3 .text_center{
	padding-top: 60px;
}

.container3 .block2 .text_center, .container3 .block3 .text_center{
	padding-top: 60px;
}


.container3 img{
	float: right;
	margin-right: -5%;
	margin-top: -130px;
}

.container3 .block3{
	background-color: #0A0E34;
}

.container3 .block3 .text_center span{
	color: #9173E6;
}

.container3 .block3 .text_bottom{
	color: #ffffff;
}

.block4{
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 100%;
}

.block4 img{
	align-self: center;
	flex-basis: 50%;
	flex-grow: 0;
	max-width: 50%;
}

.container4 h2{
	color: #E7E7E7;
	font-family: 'Proxima Nova Bold';
	font-size: 90px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 120px;
	margin-left: 130px;
}

.content4{
	align-self: center;
	flex-basis: 50%;
	flex-grow: 0;
}

.content4 p{
	color: #000000;
	font-family: 'Proxima Nova Regular';
	font-size: 24px;
	text-align: left;
	margin-left: 130px;
	margin-right: 350px;
}

.decoration4{
	width: 20px;
	border-bottom: 5px solid #5E42B0;
	margin-left: 130px;
	margin-top: 86px;
}



@media(min-height: 960px){
	header h1{
		margin-top: 300px;
	}
	header .buttons{
		margin-top: 180px;
	}
}

@media(max-height: 760px){
	footer .buttons{
		margin-top: 5vh;
	}
}

@media(max-width: 1680px){
	.content4 p{
		margin-right: 220px;
		margin-left: 100px;
	}
	.container4 h2, .decoration4{
		margin-left: 100px;
	}
	.donload-button-block p{
		font-size: 80px;
	}
}

@media(max-width: 1590px){
	.container2 img{
		margin-left: 0;
	}

	header h1, .container2 h2, .container3 h2, .container4 h2, footer .download-button-block p{
		font-size: 75px;
	}

}

@media(max-width: 1470px){
	footer .download-button-block p span{
		font-size: 30px;
	}

}

@media(max-width: 1400px){
	.container3 .center img{
		width: 75%;
	}
	footer .download-button-block p{
		font-size: 70px;
	}
	footer .download-button-block a img{
		width: 100px;
	}

}

@media(max-width: 1250px){
	header h1, .container2 h2, .container3 h2, .container4 h2{
		font-size: 65px;
	}
	header .menu li a{
		padding: 0 15px;
	}
	.container2 img{
		width: 50%;
	}
	.container3 .center img{
		width: 60%;
		margin-top: -25px;
	}
	.container4 h2{
		margin-left: 30px;
	}

	footer .download-button-block p{
		font-size: 65px;
	}
	footer .download-button-block a img{
		width: 85px;
	}
	footer .download-button-block p span{
		font-size: 25px;
	}

	footer .center{
		width: 65%;
	}
}

@media(max-width: 1030px){
	header h1, .container2 h2, .container3 h2, .container4 h2 {
		font-size: 58px;
	}
	.container4 h2{
		margin-bottom: 50px;
	}
	header .menu li a{
		padding: 0 10px;
	}
	.container3 .center img{
		margin-top: 30px;
	}
	.container4 h2, .decoration4{
		margin-left: 10%;
	}
	.content4 p{
		margin-right: 10%;
		margin-left: 10%;
	}
	footer .center{
		width: 90%;
	}
	footer .download-button-block{
		justify-content: center;
	}
}

@media(max-width: 768px){
	header h1, .container2 h2, .container3 h2, .container4 h2, footer .download-button-block p{
		font-size: 44px;
	}
	header .menu li a{
		padding: 0 5px;
	}
	header .buttons a, footer .buttons a{
		display: block;
		margin: 0 auto;
	}
	header .buttons a:first-child, footer .buttons a:first-child{
		margin-right: auto;
		margin-bottom: 20px;
	}
	header .decoration{
		height: 30vh;
		width: auto;
	}
	header .buttons{
		margin-top: 10vh;
	}
	footer .buttons{
		margin-top: 5vh;
	}

	.container2 img, .container3 img{
		display: block;
		margin: 0 auto;
		float: none;
		margin-top: 30px;
	}
	.decoration4{
		margin-top: 20px;
	}

	footer .download-button-block{
		padding-top: 50px;
	}
	
	.footer-info .text_right a{
		font-size: 16px;
	}
	.footer-info .social a{
		font-size: 18px;
	}


}

@media(max-width: 576px){
	header h1, .container2 h2, .container3 h2, .container4 h2, footer .download-button-block p{
		font-size: 32px;
	}
	header .buttons a, footer .buttons a{
		padding: 6px 40px 20px 30px;
	}
	.container4 h2, .decoration4{
		margin-left: 4%;
	}
	.content4 p{
		margin-right: 4%;
		margin-left: 4%;
	}
	.container4 h2{
		margin-bottom: 10px;
	}
	.decoration4{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	footer .footer-info{
		flex-direction: column;
	}

}

@media(max-width: 425px){
	header .logo{
		width: 35%;
		margin-top: 25px;
	}
	header .text_right{
		font-size: 12px;
		margin-top: -17px;
	}
	header h1 span{
		text-align: left;
	}
	header h1{
		margin-top: 20vh;
	}
	header{
		background-position-x: 45%;
	}
	.block4{
		flex-direction: column;
	}
	.block4 img{
		width: 100%;
		max-width: 100%;
		order: 1;
	}
	.content4 h2{
		margin-top: 10px;
	}

}
